
header{
  display: flex;
  width: auto;
  height: 75px;
  background-color: rgb(25, 26, 26);
  align-items: center;

}
.logo{
  width: 20%;
  padding: 20px;
  color: aliceblue;
}
.menu{
  justify-content: space-between;
  width: 100%;
}

.menu li{
  display: inline;
  
  
}


header nav ul li{
 
  padding: 30px;
  display: inline;
}

header nav ul li a{
text-decoration: none;
display: inline-block;
color: aliceblue
}

header nav ul li:hover{
  background-color: rgb(6, 63, 114);
  transition: background 0.4s;
  
  }
  
  