
header{
  display: flex;
  width: auto;
  height: 75px;
  background-color: rgb(25, 26, 26);
  align-items: center;

}
.logo{
  width: 20%;
  padding: 20px;
  color: aliceblue;
}
.menu{
  
  display: flex;
  justify-content: space-between;
  width: 100%;
}
header nav ul li{
  padding: 20px;
  width: auto;
  display: inline;
}
header nav ul li a{
text-decoration: none;
display: inline-block;
color: aliceblue;
}

header nav ul li a:hover{
  
  }